/*
 * CS 121 Winter 2024
 * This is the style.css page for the login.html page for final project. 
 */

 body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    color: #0F084B;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#login-form label {
    font-family: "Merriweather", sans-serif;
    font-size: 20pt;
    color: #26408B;
    margin: 10px;
}

#login-form input {
    font-family: "Merriweather", sans-serif;
    margin: 10px;
    width: 150px;
    height: 20px;
}

#buttons-bar {
    font-family: "Merriweather", sans-serif;
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: space-between;
    margin: 20px;
    font-size: 15pt;
    align-items: center;
    text-align: center;
}

#buttons-bar > a {
    margin: 10px;
    color: #0F084B;
}

#login-button {
    font-family: "Merriweather", sans-serif;
    font-size: 15pt;
    color: #0F084B;
    margin: 10px;
    background-color: white;
    border: None;
}

a {
    text-decoration: none;
}