/*
 * CS 121 Winter 2024
 * This is the style.css page for the reviews.html page for final project. 
 */
 body {
    margin: 0;
}

#classes-reviews {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#classes-reviews > div {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
    /* padding-left: 100px;
    padding-right: 100px; */
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: solid 2px #3E7CB1;
}

#classes-reviews h1 {
    font-family: Helvetica,  Arial, sans-serif;
    color: #26408B;
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#classes-reviews h2 {
    font-family: Helvetica,  Arial, sans-serif;
    color: #26408B;
    font-size: 30pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#classes-reviews h3 {
    font-family: Helvetica,  Arial, sans-serif;
    color: gray;
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#classes-reviews h4 {
    font-family: Helvetica,  Arial, sans-serif;
    color: gray;
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#classes-reviews h5 {
    font-family: Helvetica,  Arial, sans-serif;
    color: #3E7CB1;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#classes-reviews p {
    font-family: Helvetica,  Arial, sans-serif;
    color: #0F084B;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin: 30px;
}